These code is originated from the course "Using Databases with Python", from professor Charles Severence.

In [18]:
import sqlite3
import tabulate
connection = sqlite3.connect("data/courses.db")
cursor = connection.cursor()

In [2]:
cursor.executescript("""
CREATE TABLE User(id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
                  name TEXT,
                  email TEXT
);
CREATE TABLE Course(id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
                  title TEXT
);
CREATE TABLE Member(user_id INTEGER,
                    course_id INTEGER,
                    role INTEGER,
                    PRIMARY KEY (user_id, course_id)
)
""")

In [20]:
table_schema = cursor.execute('PRAGMA table_info(User)').fetchall()
schema = cursor.execute('SELECT sql FROM sqlite_master').fetchall()
print(tabulate.tabulate(schema))

-------------------------------------------------------------------------
CREATE TABLE User(id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
                  name TEXT,
                  email TEXT
)
CREATE TABLE sqlite_sequence(name,seq)
CREATE TABLE Course(id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
                  title TEXT
)
CREATE TABLE Member(user_id INTEGER,
                    course_id INTEGER,
                    role INTEGER,
                    PRIMARY KEY (user_id, course_id)
)
-------------------------------------------------------------------------

In [22]:
cursor.executescript("""
INSERT INTO User (name, email) VALUES ('Jane', 'jane@tsugi.org');
INSERT INTO User (name, email) VALUES ('Ed', 'ed@tsugi.org');
INSERT INTO User (name, email) VALUES ('Sue', 'sue@tsugi.org');

INSERT INTO Course (title) VALUES ('Python');
INSERT INTO Course (title) VALUES ('SQL');
INSERT INTO Course (title) VALUES ('PHP');
""")

In [27]:
cursor.executescript("""
INSERT INTO Member (user_id, course_id, role) VALUES (1,1,1);
INSERT INTO Member (user_id, course_id, role) VALUES (2,1,0);
INSERT INTO Member (user_id, course_id, role) VALUES (3,1,0);
INSERT INTO Member (user_id, course_id, role) VALUES (1,2,0);
INSERT INTO Member (user_id, course_id, role) VALUES (2,2,1);
INSERT INTO Member (user_id, course_id, role) VALUES (2,3,1);
INSERT INTO Member (user_id, course_id, role) VALUES (3,3,0);
""")

In [31]:
table = cursor.execute('''SELECT User.name, Member.role, Course.title FROM User
                JOIN Member JOIN Course ON
                User.id = Member.user_id AND Course.id = Member.course_id
                ORDER BY COURSE.title, Member.role DESC, USER.name 
''').fetchall()
table = tabulate.tabulate(table)
print(table)

----  -  ------
Ed    1  PHP
Sue   0  PHP
Jane  1  Python
Ed    0  Python
Sue   0  Python
Ed    1  SQL
Jane  0  SQL
----  -  ------

In [34]:
cursor.execute('SELECT name FROM User WHERE name = ? ', ('marcos', ))
row = cursor.fetchone()
print(row)

None