In [ ]:
SELECT column1, column2, …
FROM mytable
WHERE condition(s)
ORDER BY column1 ASC/DESC
LIMIT num_limit OFFSET num_offset;

SELECT column, another_table_column, …
FROM mytable
INNER JOIN another_table 
    ON mytable.id = another_table.id
WHERE condition(s)
ORDER BY column, … ASC/DESC
LIMIT num_limit OFFSET num_offset;

Lesson 2: Queries with constraints

In [ ]:
SELECT * FROM movies WHERE Id = 6;
SELECT * FROM movies WHERE Year BETWEEN 2000 AND 2010;
SELECT * FROM movies WHERE Year NOT BETWEEN 2000 AND 2010;
SELECT * FROM movies WHERE Id < 6;

Lesson 3: Queries with constraints

In [ ]:
SELECT * FROM movies WHERE Title LIKE "%Toy Story%";
SELECT * FROM movies WHERE Director = "John Lasseter";
SELECT * FROM movies WHERE Director != "John Lasseter";
SELECT * FROM movies WHERE Title LIKE "WALL-%";

Lesson 4: Filtering and sorting queries

In [ ]:
SELECT * FROM movies;
SELECT DISTINCT Director FROM movies ORDER BY Director;
SELECT * FROM movies ORDER BY Year DESC LIMIT 4;
SELECT * FROM movies ORDER BY Title LIMIT 5;
SELECT * FROM movies ORDER BY Title LIMIT 5 OFFSET 5;

Combining concepts of previous queries:

In [ ]:
SELECT * FROM North_american_cities;
SELECT City, Population FROM North_american_cities WHERE Country = "Canada";
SELECT * FROM North_american_cities WHERE Country = "United States" ORDER BY Latitude DESC;
SELECT * FROM North_american_cities WHERE Longitude < -87.629798 ORDER BY Longitude;
SELECT * FROM North_american_cities WHERE Country = "Mexico" ORDER BY Population DESC LIMIT 2;
SELECT * FROM North_american_cities WHERE Country = "United States" ORDER BY Population DESC LIMIT 2 OFFSET 2;

Multi-table queries with JOINs

In [ ]:
SELECT * FROM Boxoffice
INNER JOIN Movies
ON Boxoffice.Movie_id = Movies.Id;

SELECT * FROM Movies
INNER JOIN Boxoffice
ON Movies.Id = Boxoffice.Movie_id
WHERE Domestic_sales < International_sales;

SELECT * FROM Movies
INNER JOIN Boxoffice
ON MovieS.Id = Boxoffice.Movie_id
ORDER BY Rating DESC;

In [ ]:
SELECT DISTINCT Building FROM employees;

SELECT Building_name, Capacity FROM Buildings;

SELECT DISTINCT Employees.Role, Buildings.Building_name FROM Buildings
LEFT JOIN Employees ON Buildings.Building_name = Employees.Building;

NULL values

In [ ]:
SELECT Role, Name FROM Employees WHERE Building IS NULL;

SELECT * FROM Buildings
LEFT JOIN Employees ON Buildings.Building_name = Employees.Building
WHERE Employees.Building IS NULL;

Expressions

In [ ]:
SELECT Title, (Domestic_sales + International_sales)/1000000 AS sales_millions FROM Boxoffice
INNER JOIN Movies ON Movies.Id = Boxoffice.Movie_id;

SELECT Title, Rating*10 AS Ratings_percent FROM Boxoffice
INNER JOIN Movies ON Movies.Id = Boxoffice.Movie_id;

SELECT * FROM Movies WHERE Year%2 = 0;

Aggregation

In [ ]:
SELECT MAX(Years_employed) FROM employees;

SELECT Role, AVG(Years_employed) AS avg_years FROM employees
GROUP BY Role;

SELECT Building, SUM(Years_employed) FROM employees
GROUP BY Building;

In [ ]:
SELECT * FROM employees;

SELECT COUNT() FROM employees WHERE Role = "Artist";

SELECT Role, COUNT(Role) AS num_role FROM employees GROUP BY Role;

SELECT SUM(Years_employed) AS sum_years_eng FROM employees
GROUP BY Role HAVING Role = "Engineer";

Summary

In [ ]:
SELECT * FROM movies;

SELECT Director, COUNT() AS num_movies FROM Movies GROUP BY DIRECTOR;

SELECT Movies.Director, SUM(Boxoffice.Domestic_sales + Boxoffice.International_sales) AS sales FROM Movies
JOIN Boxoffice ON Movies.Id = Boxoffice.Movie_id
GROUP BY Director;

Including, modifying and deleting data

In [ ]:
INSERT INTO Movies
VALUES (15, "Toy Story 4", "John Lasseter", 2025, 150);

INSERT INTO Boxoffice
VALUES (15, 8.7, 340000000, 270000000);

In [ ]:
UPDATE Movies
SET Director = "John Lasseter"
WHERE Title = "A Bug's Life";

UPDATE Movies
SET Year = 1999
WHERE Title = "Toy Story 2";

UPDATE Movies
SET Title = "Toy Story 3",
    Director = "Lee Unkrich"
WHERE Title = "Toy Story 8";

In [ ]:
DELETE FROM Movies
WHERE Year < 2005;

DELETE FROM Movies
WHERE Director = "Andrew Stanton";

Creating, changing, deleting a table

In [ ]:
CREATE TABLE IF NOT EXISTS Database(
    Name TEXT,
    Version FLOAT,
    Download_count INTEGER
);

In [ ]:
ALTER TABLE Movies
ADD Aspect_ratio FLOAT;

ALTER TABLE Movies
ADD Language TEXT
DEFAULT English;

In [ ]:
DROP TABLE Movies;
DROP TABLE Boxoffice;