In [ ]:
SELECT column1, column2, â€¦
FROM mytable
WHERE condition(s)
ORDER BY column1 ASC/DESC
LIMIT num_limit OFFSET num_offset;

Lesson 2: Queries with constraints

In [ ]:
SELECT * FROM movies WHERE Id = 6;
SELECT * FROM movies WHERE Year BETWEEN 2000 AND 2010;
SELECT * FROM movies WHERE Year NOT BETWEEN 2000 AND 2010;
SELECT * FROM movies WHERE Id < 6;

Lesson 3: Queries with constraints

In [ ]:
SELECT * FROM movies WHERE Title LIKE "%Toy Story%";
SELECT * FROM movies WHERE Director = "John Lasseter";
SELECT * FROM movies WHERE Director != "John Lasseter";
SELECT * FROM movies WHERE Title LIKE "WALL-%";

Lesson 4: Filtering and sorting queries

In [ ]:
SELECT * FROM movies;
SELECT DISTINCT Director FROM movies ORDER BY Director;
SELECT * FROM movies ORDER BY Year DESC LIMIT 4;
SELECT * FROM movies ORDER BY Title LIMIT 5;
SELECT * FROM movies ORDER BY Title LIMIT 5 OFFSET 5;

Combining concepts of previous queries:

In [ ]:
SELECT * FROM North_american_cities;
SELECT City, Population FROM North_american_cities WHERE Country = "Canada";
SELECT * FROM North_american_cities WHERE Country = "United States" ORDER BY Latitude DESC;
SELECT * FROM North_american_cities WHERE Longitude < -87.629798 ORDER BY Longitude;
SELECT * FROM North_american_cities WHERE Country = "Mexico" ORDER BY Population DESC LIMIT 2;
SELECT * FROM North_american_cities WHERE Country = "United States" ORDER BY Population DESC LIMIT 2 OFFSET 2;