In [1]:
#Setting pyspark environment variables
import os
os.environ['SPARK_HOME'] = r'C:\Users\Marcos\Documents\Spark'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'

Getting Started

In [9]:
# Importing pyspark
from pyspark.sql import SparkSession

In [10]:
# Create a Spark session
spark = SparkSession.builder.appName('PySpark-Get-Started').getOrCreate()

In [11]:
data = [('Jack', 40), ('Sawyer', 40), ('Kate', 35)]
df = spark.createDataFrame(data, ['Name', 'Age'])
df.show()

+------+---+
|  Name|Age|
+------+---+
|  Jack| 40|
|Sawyer| 40|
|  Kate| 35|
+------+---+