In [1]:
#Setting pyspark environment variables
import os
os.environ['SPARK_HOME'] = r'C:\Users\Marcos\Documents\Spark'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('RDD-demo').getOrCreate()

In [4]:
numbers = [1,2,3,4,5,6,7,8]

In [5]:
rdd = spark.sparkContext.parallelize(numbers)

In [6]:
rdd.collect()

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
data = [('Jack', 42), ('John', 60), ('Hurley', 30), ('Kate', 35), ('Jack', 42)]

In [34]:
rdd = spark.sparkContext.parallelize(data)

In [35]:
rdd.collect()

[('Jack', 42), ('John', 60), ('Hurley', 30), ('Kate', 35), ('Jack', 42)]

In [36]:
rdd.count()

5

In [37]:
rdd.first()

('Jack', 42)

In [38]:
rdd.take(3)

[('Jack', 42), ('John', 60), ('Hurley', 30)]

In [39]:
rdd.foreach(lambda x: print(x))

In [40]:
map_rdd = rdd.map(lambda x: (x[0].upper(), x[1]))
map_rdd.collect()

[('JACK', 42), ('JOHN', 60), ('HURLEY', 30), ('KATE', 35), ('JACK', 42)]

In [41]:
filter_rdd = rdd.filter(lambda x: x[1] > 40)
filter_rdd.collect()

[('Jack', 42), ('John', 60), ('Jack', 42)]

In [42]:
reduce_rdd = rdd.reduceByKey(lambda x, y: x + y)
reduce_rdd.collect()

[('Jack', 84), ('John', 60), ('Kate', 35), ('Hurley', 30)]

In [43]:
sort_rdd = rdd.sortBy(lambda x: x[1], ascending=False)
sort_rdd.collect()

[('John', 60), ('Jack', 42), ('Jack', 42), ('Kate', 35), ('Hurley', 30)]

In [53]:
rdd.collect()

[('Jack', 42), ('John', 60), ('Hurley', 30), ('Kate', 35), ('Jack', 42)]

In [ ]:
rdd.saveAsTextFile('lost.txt')
rdd_text = spark.sparkContext.textFile('lost.txt')
rdd_text.collect()